<Settings>
<GpsAggregatingSettings><sourceId>1001</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1002</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1003</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1006</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1007</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1008</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1004</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1005</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1009</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1010</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1011</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1012</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1013</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1014</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1015</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1016</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1017</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1018</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1019</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1020</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1021</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1022</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1023</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1024</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1025</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1026</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1027</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1028</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1029</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1030</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1031</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1032</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GpsAggregatingSettings><sourceId>1033</sourceId><messageType>520</messageType><messageTime>0</messageTime><idleMax>600</idleMax><aggrInterval>600</aggrInterval></GpsAggregatingSettings>
<GeoStateDefinitionSettings><sourceId>1001</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1002</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1003</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1006</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1007</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1008</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1012</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>50</latitude><longitude>50</longitude></coordinates><coordinates><latitude>60</latitude><longitude>60</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1004</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1005</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1009</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1010</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1011</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1013</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1014</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1015</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1016</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1017</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1018</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1019</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1020</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1021</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1022</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1023</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1024</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1025</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1026</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1027</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1028</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1029</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1030</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1031</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1032</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
<GeoStateDefinitionSettings><sourceId>1033</sourceId><messageType>528</messageType><messageTime>0</messageTime><geoZones><id>0</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.757259</latitude><longitude>37.338409</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones><geoZones><id>1</id><type>RECTANGLE</type><coordinatesSets><coordinates><latitude>55.907270</latitude><longitude>37.700958</longitude></coordinates><coordinates><latitude>55.560874</latitude><longitude>37.935101</longitude></coordinates></coordinatesSets></geoZones></GeoStateDefinitionSettings>
</Settings>
